<section class="resume-section" id="about">
    <div class="resume-section-content ">
        <h5 class="card-header"> <span class="text-primary">Desarrollador</span> Full Stack</h5>
        <div class="card-body">
            <h1 class="mb-0">
                Bairon
                <span class="text-primary">Freire</span>
            </h1>
            <div class="subheading mb-4">
                <i class="fa-solid fa-map-pin"></i> CRA 28B2 72F – 146 Piso 3 Cali Valle del
                Cauca· <i class="fa-solid fa-phone"></i> (+57) 322 568-7135 ·
            </div>
            <div class="container">
                <p style="text-align: justify;">
                    Soy un apasionado desarrollador de software con más de 10 años de experiencia, especializado en Node.js y TypeScript, así como en tecnologías en la nube de AWS. Destaco por mi versatilidad en Java y Python, lo que me permite abordar proyectos diversos. En DevOps, lidero la creación de pipelines, gestiono releases y trabajo con arquitecturas serverless para optimizar la eficiencia. Mi compromiso con la excelencia se refleja en la maestría técnica, prácticas ágiles y herramientas de gestión de proyectos. Estoy aquí para transformar ideas en realidad, construir experiencias impactantes y enfrentar desafíos con creatividad y eficacia. Descubre en mi portafolio cómo mis habilidades en Node.js, TypeScript, Java, Python y DevOps pueden llevar tu proyecto al siguiente nivel. ¡Construyamos algo extraordinario juntos!
                </p>
                
            </div>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/bairon-freire-developer-software"
                    target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/baironfreire" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a class="social-icon" href="mailto:bairon.f5@email.com"><i class="fa-regular fa-envelope"></i></a>
            </div>

        </div>
    </div>
</section>