<section class="resume-section" id="about">
    <div class="resume-section-content ">
        <h5 class="card-header"> <span class="text-primary">Desarrollador</span> Full Stack</h5>
        <div class="card-body">
            <h1 class="mb-0">
                Bairon
                <span class="text-primary">Freire</span>
            </h1>
            <div class="subheading mb-4">
                <i class="fa-solid fa-map-pin"></i> CRA 28B2 72F – 146 Piso 3 Cali Valle del
                Cauca· <i class="fa-solid fa-phone"></i> (+57) 322 568-7135 ·
            </div>
            <div class="container">
                <p style="text-align: justify;">
                    Soy un Desarrollador Fullstack con una sólida experiencia en el diseño e implementación de soluciones tecnológicas, especializado en el desarrollo de microservicios y su despliegue eficiente en entornos de nube. A lo largo de mi carrera, he liderado proyectos clave en diversas empresas, destacando mis habilidades en el desarrollo de Backend, Frontend y la integración de sistemas complejos.
                </p>
                
            </div>
            <div class="social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/bairon-freire-developer-software"
                    target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="social-icon" href="https://github.com/baironfreire" target="_blank"><i
                        class="fab fa-github"></i></a>
                <a class="social-icon" href="mailto:bairon.f5@email.com"><i class="fa-regular fa-envelope"></i></a>
            </div>

        </div>
    </div>
</section>