<header class="cm-bg-dark text-light">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-3 col-sm-3 d-flex justify-content-center  align-items ">
                <div class="image-profile">
                    <img src="assets/images/profile.png" />
                </div>
            </div>
            <div class="col-lg-8 col-sm-6 d-flex flex-column  justify-content-center  align-items">
                <h1 class="cm-text-light fw-bold">Bairon Fernando Freire Otalvaro</h1>
                <h5 class="cm-text-light fw-bold">Full stack developer</h5>
            </div>

            <div class="col-sm-3">
                <button class="btn btn-link text-light d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
                    <i class="fas fa-bars"></i> <!-- Icono de barras horizontales -->
                </button>
            </div>
        </div>
    </div>
</header>