<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiencia Profesional</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                   SENIOR ANALIST - BACKEND DEVELOPER
                </h3>
                <div class="subheading">Accenture - Bogotá (Home Office / Scrum / Backend Developer / Bank-Guatemala)</div>
                <div class="flex-shrink-0"><span class="text-primary">Septiembre 2021 - Diciembre 2023</span></div>
                <ul>
                    <li>
                        Desarrollador de Backend en el proyecto BAM para Bancolombia en Guatemala, liderando la implementación de microservicios en la nube de AWS.
                    </li>
                    <li>
                        Colaboración remota desde Bogotá en un entorno ágil (Scrum) con enfoque en eficiencia y resultados tangibles.
                    </li>
                    <li>
                        Liderazgo en el desarrollo de microservicios (30) en AWS, Implementé microservicios en AWS, logrando una mejora del 20% en la eficiencia del sistema, medida mediante métricas de rendimiento y tiempos de respuesta.
                    </li>
                    <li>
                        Aplicación de principios de arquitectura hexagonal, HTTP code response y Jest para pruebas unitarias.
                    </li>
                    <li>
                        Responsabilidad en la implementación de pipelines y procesos de release en Azure, con un aumento del 15% en la velocidad de entrega.
                    </li>
                    <li >
                        Utilización de Serverless, Node.js y TypeScript para servicios escalables y de alto rendimiento.
                    </li>
                    <li>
                        Elaboración de diagramas para mejorar la comprensión del sistema.
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    CONSULT JUNIOR - FULLSTACK DEVELOPER
                </h3>
                <div class="subheading">Colokial, Iteria S.A - Cali, Colombia</div>
                <div class="flex-shrink-0"><span class="text-primary">Junio 2019 - Septiembre 2021</span></div>
                <ul>
                    <li>
                        Colaboración activa en la creación de microservicios backend (Python, Django, PostgreSQL) y liderazgo en el desarrollo de interfaces frontend basadas en Angular.
                    </li>
                    <li>
                        Implementación de integraciones de servicios de terceros gestionados desde PostgreSQL, mejorando la eficiencia operativa en un 15%
                    </li>
                    <li>
                        Desarrollo de servicios para la manipulación de códigos SICEF de la DIAN en Colombia, asegurando conformidad con regulaciones locales.
                    </li>
                    <li>
                        Uso de Node.js y Celery para la transferencia y carga eficiente de archivos, Optimicé la transferencia y carga de archivos utilizando Node.js y Celery, resultando en una reducción del 25% en los tiempos de carga del sistema..
                    </li>
                    <li>
                        Contribución al diseño de pantallas, pruebas unitarias y creación de manuales de usuarios.
                    </li> 
                    <li>
                        Colaboré estrechamente con equipos multidisciplinarios, incluyendo desarrolladores, ingenieros de calidad y otros especialistas, siguiendo metodologías ágiles como Scrum para garantizar una comunicación efectiva y resultados exitosos.
                    </li>
                    <li>
                        Contribuí significativamente a la documentación utilizando herramientas como Confluence, proporcionando manuales detallados de usuario y registros exhaustivos de problemas identificados y soluciones implementadas.
                    </li>                   
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    CONSULT JUNIOR - FRONTEND DEVELOPER
                </h3>
                <div class="subheading">Oficina Virtual de Prestadores para Coomeva EPS - Cali, Colombia</div>
                <div class="flex-shrink-0"><span class="text-primary">Junio 2018 - Junio 2019</span></div>
                <ul>
                    <li>
                        Desarrollador front end en el proyecto de la Oficina Virtual de Prestadores para Coomeva EPS.
                    </li>
                    <li>
                        Implementación de mapas personalizados para mostrar prestadores de salud, resultando en una experiencia de usuario mejorada y una mayor interacción.
                    </li>
                    <li>
                        Desarrollo en Angular 2+, colaboración en metodología Scrum, integración de servicios externos.
                    </li>
                    <li>
                        Diseño y personalización de interfaces para una herramienta integral y fácil de usar.
                    </li>                 
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    SOFTWARE ENGINEER - FULLSTACK DEVELOPER
                </h3>
                <div class="subheading">Energon, Premize S.A - Cali, Colombia</div>
                <div class="flex-shrink-0"><span class="text-primary">Septiembre 2017 - Junio 2018</span></div>
                <ul>
                    <li>
                        Desarrollo de un sistema de cotización de alquiler de plantas eléctricas en Java, con mejoras significativas en la eficiencia operativa y un 30% de aumento en la satisfacción del cliente.
                    </li>
                    <li>
                        Implementación de procedimientos almacenados, cursores y jobs, optimizando el desarrollo mediante el framework PhrameMapping.
                    </li>
                    <li>
                        Metodología ágil Scrum y gestión eficiente del equipo de desarrollo.
                    </li>                     
                </ul>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    SOFTWARE ENGINEER - FULLSTACK DEVELOPER
                </h3>
                <div class="subheading">SAO, Premize, Coomeva MP – Cali, Colombia</div>
                <div class="flex-shrink-0"><span class="text-primary">Junio 2017 - Septiembre 2017</span></div>
                <ul>
                    <li>
                        Especialista en Soporte y Resolución de Bugs en el proyecto SAO, con responsabilidad clave en garantizar la estabilidad y eficiencia del software.
                    </li>
                    <li>
                        Identificación y diagnóstico proactivo de bugs, errores y problemas técnicos en el software SAO.
                    </li>
                    <li>
                        Colaboración estrecha con el equipo de desarrollo para comprender el contexto y la funcionalidad del código afectado.
                    </li>
                    <li>
                        Realización de investigaciones detalladas para entender las causas subyacentes de los problemas reportados.
                    </li>
                    <li>
                        Análisis de registros y trazas para aislar y comprender comportamientos anómalos.
                    </li>  
                    <li>
                        Colaboración con el equipo de desarrollo, ingenieros de calidad y otros especialistas para diseñar soluciones efectivas.
                    </li> 
                    <li>
                        Participación activa en reuniones de resolución de problemas para compartir conocimientos y perspectivas.
                    </li>
                    <li>
                        Desarrollo de parches y soluciones temporales para problemas críticos, contribuyendo significativamente a la estabilidad del sistema.
                    </li>
                    <li>
                        Documentación exhaustiva de problemas identificados, soluciones propuestas y las implementaciones realizadas para referencia futura.
                    </li>                       
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    SOFTWARE ENGINEER - FULLSTACK DEVELOPER
                </h3>
                <div class="subheading">Cicklos, Coomeva EPS - Cali, Colombia </div>
                <div class="flex-shrink-0"><span class="text-primary">Septiembre 2014 - Enero 2017</span></div>
                <ul>
                    <li>
                        Rol de Ingeniero de Sistemas en un proyecto de externalización de servicios para Coomeva EPS.
                    </li>
                    <li>
                        Colaboración estrecha con el cliente en un entorno de outsourcing.
                    </li>
                    <li>
                        Creación y revisión de casos de uso, trabajo con el equipo de DATOS, implementación de procedimientos almacenados.
                    </li>
                    <li>
                        Coordinación de solicitudes y pruebas con el equipo de QA.
                    </li>
                    <li>
                        Adquisición de habilidades en gestión de proyectos y colaboración efectiva en entornos de externalización de servicios.
                    </li>                            
                </ul>
            </div>
        </div>
        
    </div>
</section>