<!-- Experience-->
<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experiencia</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    BACKEND DEVELOPER
                </h3>
                <div class="subheading">BAM, Accenture - Bogotá ( Home Office / Scrum / Backend Developer /
                    Bank-Guatemala )</div>
                <div class="flex-shrink-0"><span class="text-primary">Septiembre 2021 a Diciembre 2023</span></div>
                <div class="mb-3">Desarrollador de Backend en el proyecto BAM para Bancolombia en Guatemala, trabajando de forma remota desde Bogotá. Integrado en la célula de desarrollo de Zunil, colaboré en un entorno ágil utilizando la metodología Scrum.</div>
                <ul>
                    <li>
                        Prácticas realizadas: tasking, revisión de código y entrega por sprint para una ejecución eficiente y orientada a resultados.
                    </li>
                    <li>
                        Liderazgo en el desarrollo de microservicios utilizando tecnologías en la nube de AWS, incluyendo AWS Lambda, DynamoDB, RDS (MariaDB), SQS, IAM, SNS, S3, CloudWatch, Cognito, Redis y API Gateway.
                    </li>
                    <li>
                        Aplicación de principios de arquitectura hexagonal, HTTP code response y Jest para pruebas unitarias.
                    </li>
                    <li>
                        Responsabilidad en la implementación de pipelines y procesos de release en Azure, siguiendo prácticas de Git Flow para la gestión de versiones del código fuente.
                    </li>
                    <li>
                        Utilización de Serverless, Node.js y TypeScript para la construcción eficiente de servicios escalables y de alto rendimiento.
                    </li>
                    <li >
                        Elaboración de diagramas de caja negra y de componentes para facilitar la comprensión y comunicación del sistema en el ámbito de documentación y diseño.
                    </li>
                    <li>
                        Trabajo en la migración de datos utilizando herramientas como Crawler, archivos Parquet, DataCatalog y Athena en AWS, implementando scripts en Python para tareas específicas.
                    </li>
                    
                </ul>
                <p>
                    Esta experiencia me ha permitido desarrollar habilidades sólidas en el diseño e implementación de soluciones backend, así como en la colaboración efectiva en equipos ágiles y la gestión eficiente de proyectos.
                </p>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    DESARROLLADOR DE SOFTWARE JUNIOR
                </h3>
                <div class="subheading">Colokial, Iteria S.A - Cali, Colombia</div>
                <div class="flex-shrink-0"><span class="text-primary">Junio 2019 - Septiembre 2021</span></div>
                <div class="mb-3">
                    Colaboré activamente con el equipo ágil en la creación de microservicios backend utilizando tecnologías clave como Python, Django, y PostgreSQL. Además, lideré el desarrollo de interfaces frontend basadas en Angular, respondiendo a las solicitudes del cliente y creando historias de usuario.
                </div>
                <ul>
                    <li>
                        Implementé integraciones de servicios de terceros, gestionando dinámicamente servicios parametrizados desde la base de datos PostgreSQL.
                    </li>
                    <li>
                        Desarrollé servicios que consumían códigos SICEF de la DIAN en Colombia, asegurando la conformidad con las regulaciones locales.
                    </li>
                    <li>
                        Utilicé Node.js para la transferencia y carga eficiente de archivos, aplicando Celery para programar procesos automatizados de facturación.
                    </li>
                    <li>
                        Participé en entregas por sprint y revisiones, gestionando eficientemente el código fuente con Git, siguiendo prácticas de desarrollo ágil.
                    </li>
                    <li>
                        Contribuí al diseño de pantallas, realizando pruebas unitarias, y creando manuales de usuarios y diseño de historias de usuarios para asegurar la calidad y comprensión del sistema.
                    </li>                    
                </ul>
                <p>
                    Este proyecto me proporcionó una valiosa experiencia en el desarrollo integral de soluciones, desde el backend hasta el frontend, gestionando eficazmente procesos y colaborando en equipos ágiles.
                    Esta experiencia ha fortalecido mis habilidades en el diseño e implementación de soluciones backend, así como en la colaboración efectiva en equipos ágiles y la gestión eficiente de proyectos.
                </p>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    DESARROLLADOR FRONT END
                </h3>
                <div class="subheading">Oficina Virtual de Prestadores para Coomeva EPS</div>
                <div class="flex-shrink-0"><span class="text-primary">Junio 2018 - Junio 2019</span></div>
                <div class="mb-3">
                    Desarrollador front end en el equipo de desarrollo de Iteria, integrándome en el proyecto de la Oficina Virtual de Prestadores para Coomeva EPS. Mi contribución abarcó desde el diseño hasta la implementación de funcionalidades clave utilizando Angular 2+ y servicios externos del cliente.
                </div>
                <ul>
                    <li>
                        Implementación de mapas personalizados para mostrar prestadores de salud en un radio de 5 km, marcando rutas óptimas e integrando markers para solicitar turnos de atención basados en la ubicación del usuario.
                    </li>
                    <li>
                        Desarrollo en Angular 2+.
                    </li>
                    <li>
                        Colaboración en metodología Scrum.
                    </li>
                    <li>
                        Integración de servicios externos.
                    </li>
                    <li>
                        Diseño y personalización de interfaces.
                    </li>                    
                </ul>
                <p>
                    El proyecto se completó exitosamente, proporcionando a los usuarios una herramienta integral y fácil de usar para gestionar servicios médicos. Esta experiencia me permitió consolidar habilidades en desarrollo frontend, trabajo colaborativo en entornos ágiles y adaptabilidad a los requerimientos específicos del cliente.
                </p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">COLOKIAL, ITERIA S.A - CALI, COLOMBIA
                    INGENIERO DE SISTEMAS
                </h3>
                <div class="subheading">ENERGON, PREMIZE S.A - CALI, COLOMBIA </div>
                <div class="flex-shrink-0"><span class="text-primary">Septiembre 2017 - Diciembre 2017</span></div>
                <div class="mb-3">
                    Desarrollar un sistema que permita a los usuarios cotizar el alquiler de plantas eléctricas para eventos y facilitar la gestión interna de información relacionada con clientes, reservas, inventario y cotizaciones.
                </div>
                <ul>
                    <li>
                        Desarrollado en Java
                    </li>
                    <li>
                        Frameworks: Spring Boot, Hibernate, Thymeleaf, Spring Security
                    </li>
                    <li>
                        Base de Datos: PostgreSQL
                    </li>
                    <li>
                        Gestión de Proyectos: Maven
                    </li>
                    <li>
                        Servidor de Aplicaciones: JBoss Server
                    </li> 
                    <li>
                        Generación de Reportes: Jasper Report
                    </li> 
                    <li>
                        Implementé procedimientos almacenados, cursores y jobs, aprovechando el framework PhrameMapping para optimizar el desarrollo.
                    </li>                             
                </ul>
                <p>
                    El proyecto se llevó a cabo bajo la metodología ágil Scrum, garantizando una entrega iterativa y continua de funcionalidades. El equipo de desarrollo estuvo compuesto por 2desarrolladores y 1 profesionales funcionales, asegurando un enfoque integral tanto en el desarrollo técnico como en la usabilidad del sistema.
                    Este proyecto representa un hito significativo para Premize al expandir nuestra cartera de clientes y demuestra nuestro compromiso con la excelencia en el desarrollo de soluciones tecnológicas eficientes y orientadas a las necesidades del cliente.
                </p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    INGENIERO DE SISTEMAS
                </h3>
                <div class="subheading">CICKLOS, COOMEVA EPS - CALI, COLOMBIA</div>
                <div class="flex-shrink-0"><span class="text-primary">Septiembre 2014 - Enero 2017</span></div>
                <div class="mb-3">
                    En septiembre de 2014, fui contratado por Premise S.A para desempeñar el rol de Ingeniero de Sistemas en un proyecto de externalización de servicios para el cliente Coomeva EPS. Desde el inicio, me asignaron las herramientas necesarias y fui presentado como parte del nuevo equipo de desarrolladores en la oficina del cliente.
                </div>
                <ul>
                    <li>
                        Colaboré en un entorno de outsourcing, trabajando estrechamente con el cliente Coomeva EPS.
                    </li>
                    <li>
                        Mi función principal fue comprender los requerimientos proporcionados por los equipos funcionales, los cuales eran filtrados y asignados por la jefatura.
                    </li>
                    <li>
                        Revisé minuciosamente cada requerimiento, identificando dudas y programando reuniones para abordar y resolver los puntos pendientes.
                    </li>
                    <li>
                        Trabajé en la creación y revisión de casos de uso en colaboración con los equipos funcionales para garantizar una comprensión precisa de los requerimientos.
                    </li>
                    <li>
                        Contribuí en la creación de modelos de datos para los requerimientos analizados.
                    </li> 
                    <li>
                        Trabajé con el equipo de DATOS para ejecutar scripts según el diseño establecido, utilizando tecnologías como PHP, JavaScript, SVN, PL/SQL y paquetes en Oracle.
                    </li> 
                    <li>
                        Implementé procedimientos almacenados, cursores y jobs, aprovechando el framework PhrameMapping para optimizar el desarrollo.
                    </li>
                    <li>
                        Coordiné las solicitudes por área a través del sistema Mrcoo, asignando responsabilidades a los miembros del equipo.
                    </li>
                    <li>
                        Facilité la comunicación entre el equipo de desarrollo y los equipos de calidad (QA), gestionando la entrega y pruebas de los requisitos desarrollados.
                    </li>  
                    <li>
                        Coordiné las pruebas respectivas de los requerimientos con el equipo de QA antes de la entrega final al cliente.
                    </li>   
                    <li>
                        Participé en reuniones de cierre con el cliente, asegurando la satisfacción y la entrega exitosa de los requisitos desarrollados.
                    </li>                                    
                </ul>
                <p>
                    Mi participación en este proyecto se extendió hasta 2017, donde adquirí valiosas habilidades en gestión de proyectos, desarrollo técnico y colaboración efectiva en entornos de externalización de servicios.
                </p>
            </div>
        </div>
        
    </div>
</section>