<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Habilidades Profesionales</h2>
        <div class="subheading mb-3">Lenguajes de Programación y Herramientas</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-java"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-python"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-aws"></i></li>

            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-bootstrap"></i></li>

            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-git"></i></li>
        </ul>
        <div class="subheading mb-3">Desarrollo Backend</div>
        <ul class="fa-ul mb-3">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Liderazgo en microservicios en AWS, enfocado en eficiencia y escalabilidad.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Implementación de arquitectura hexagonal para modularidad y mantenibilidad.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Experto en Node.js, Serverless y TypeScript para servicios robustos.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Aplicación de respuesta HTTP y Jest para pruebas unitarias.
            </li>
        </ul>

        <div class="subheading mb-3">Tecnologías Full Stack</div>
        <ul class="fa-ul mb-3">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Colaboración en microservicios backend con Python, Django y PostgreSQL.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Desarrollo de interfaces frontend con Angular.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Integración eficiente de Node.js y Celery para transferencia de archivos.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Participación en diseño, pruebas unitarias y manuales de usuario.
            </li>
        </ul>

        <div class="subheading mb-3">Métodos Ágiles y Colaboración</div>
        <ul class="fa-ul mb-3">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Experiencia en entornos ágiles, destacando Scrum para entregas eficientes.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Colaboración efectiva en equipos multidisciplinarios.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Participación activa en resolución de problemas y gestión eficiente.
            </li>
        </ul>

        <div class="subheading mb-3">Optimización Operativa:</div>
        <ul class="fa-ul mb-3">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Integración de servicios terceros para eficiencia operativa.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Experta optimización en transferencia y carga de archivos.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Implementación de procedimientos almacenados y frameworks para rendimiento.
            </li>
        </ul>

        <div class="subheading mb-3">Resolución de Problemas Técnicos:</div>
        <ul class="fa-ul mb-3">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Identificación proactiva de bugs y colaboración estrecha para soluciones.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Desarrollo de parches y soluciones temporales para problemas críticos.
            </li>
        </ul>


        <div class="subheading mb-3">Experiencia en Externalización de Proyectos:</div>
        <ul class="fa-ul mb-3">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Colaboración cercana con clientes en outsourcing.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Creación y revisión de casos de uso, implementación de procedimientos almacenados.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Coordinación efectiva de solicitudes y pruebas con equipos de QA.
            </li>
        </ul>

        <div class="subheading mb-3">Gestión de Proyectos y Entrega Continua:</div>
        <ul class="fa-ul mb-3">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Desarrollo de habilidades en gestión de proyectos.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Contribución a velocidad de entrega mediante pipelines y procesos de release.
            </li>
        </ul>
    </div>
</section>
