<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">HABILIDADES</h2>
        <div class="subheading mb-3">Lenguajes de Programación y Herramientas</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-java"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-python"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-aws"></i></li>

            <li class="list-inline-item"><i class="fab fa-html5"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-bootstrap"></i></li>

            <li class="list-inline-item"><i class="fab fa-npm"></i></li>
            <li class="list-inline-item"><i class="fab fa-angular"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-git"></i></li>
            
            
            
        </ul>
        <div class="subheading mb-3">Flujos de Trabajo</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Diseño e implementación de soluciones backend y frontend.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Colaboración efectiva en equipos ágiles (Scrum).
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Gestión eficiente de proyectos.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Uso de metodologías ágiles (Scrum) y control de versiones (Git).
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Desarrollar microservicios escalables utilizando tecnologías en la nube de AWS, implementando arquitectura serverless con Node.js y TypeScript para una ejecución eficiente y de alto rendimiento.
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Gestionar pipelines y procesos de release en Azure, siguiendo prácticas de Git Flow para la gestión de versiones del código fuente, con enfoque en el desarrollo eficiente de soluciones.
            </li>
        </ul>
    </div>
</section>
