<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Intereses</h2>
        <div class="mt-4">
            <h4 class="mb-0">Deportes y Vida Activa</h4>
            <ul>
                <li>Fútbol: Disfruto de la pasión y camaradería que brinda el fútbol. No solo es un deporte, sino
                    una forma de conectar con otros y mantenerme activo.</li>
                <li>Ciclismo: Explorar nuevos lugares y mantenerme en forma son aspectos clave de mi vida. Pasear en
                    bicicleta me proporciona tanto ejercicio como una conexión con la naturaleza.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h4 class="mb-0">Desarrollo Personal</h4>
            <ul>
                <li>Reflexiones Auditivas: Me sumerjo en audios que fomentan la reflexión, anécdotas de vida y superación personal. Busco inspiración y aprendizaje en estas experiencias compartidas.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h4 class="mb-0">Vínculos Familiares</h4>
            <ul>
                <li>Tiempo con mi Hija: Una de mis mayores alegrías es compartir momentos especiales con mi hija. Desde juegos de infancia como las escondidas hasta explorar el mundo juntos, valoro cada instante.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h4 class="mb-0">Entretenimiento y Cultura</h4>
            <ul>
                <li>Cine: Disfruto explorando diversas historias y géneros cinematográficos. El cine no solo es entretenimiento, sino una fuente de inspiración y perspectiva.</li>
            </ul>
        </div>

        <div class="mt-4">
            <h4 class="mb-0">Naturaleza y Sueños</h4>
            <ul>
                <li>Paisajes Espectaculares: La belleza de los paisajes espectaculares me cautiva. Mi sueño es algún día disfrutar de la serenidad de los paisajes en Suiza, sumergiéndome en su encanto natural.</li>
            </ul>
        </div>


    </div>
</section>