<app-card-terminal [title]="title">
  <div class="container-fluid p-0">
    <div class="row p-0">
      <div class="card col-lg-4 border-0 p-0 ">
        <h5 class="card-header border-0">Participación en Proyectos</h5>
        <div class="card-body">
            <app-time-line></app-time-line>
        </div>
      </div>
      <div class="card col-lg-8 border-0 ">
        <h5 class="card-header border-0">Detalle del Proyecto</h5>
          <div class="card-body">
            <h5 class="card-title">{{selectedExperience?.role}}</h5>
            <h6>
              {{selectedExperience?.project}} - {{selectedExperience?.company}} - {{selectedExperience?.location}}
            </h6>
            <h6>{{selectedExperience?.period}}</h6>
            <ul >
              <li *ngFor="let responsability of selectedExperience?.responsibilities" >
                {{responsability}}
              </li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</app-card-terminal>
