<app-card-terminal [title]="title">
    <div class="row">
        <div class="col-sm-6 mt-1" *ngFor="let education of degrees">
            <div class="card">
                <div class="card-header">
                    <h6>{{education.university}}</h6>
                </div>
                <div class="card-body">
                    <h5>{{education.degree}}</h5>
                    <h6>{{education.location}}</h6>
                    <p>{{education.period}}</p>
                </div>
            </div>
        </div>
    </div>
</app-card-terminal>
