<app-card-terminal [title]="title">
  <div class="container-fluid p-0">
    <div class="row p-0">
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    <a href="https://www.uniajc.edu.co/" target="_blank">
                        Institución Universitaria Antonio José Camacho
                    </a>
                </h3>
                <div class="subheading mb-1">Ingeniería en Sistemas</div>
                <div>Cali – Valle del Cauca</div>
                <p>2018</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    <a href="https://cecep.edu.co/" target="_blank">
                        FCECEP – FUNDACION CENTRO COLOMBIANO DE ESTUDIOS PROFESIONALES
                    </a>
                </h3>
                <div class="subheading mb-1">TECNOLOGIA DE SISTEMAS</div>
                <div>Cali, Valle del cauca</div>
                <p>2011</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    <a href="https://tecnicoindustrialpasto.edu.co/" target="_blank">
                        ITSIM – INSTITUCION EDUCATIVA MUNICIPAL TECNICO INDUSTRIAL
                    </a>
                </h3>
                <div class="subheading mb-1">BACHILLER INDUSTRIAL</div>
                <div>Pasto, Nariño</div>
                <p>2007</p>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">
                    <a href="https://tecnicoindustrialpasto.edu.co/" target="_blank">
                        ITSIM – INSTITUCION EDUCATIVA MUNICIPAL TECNICO INDUSTRIAL
                    </a>
                </h3>
                <div class="subheading mb-1">BACHILLER INDUSTRIAL</div>
                <div>Pasto, Nariño</div>
                <p>2007</p>
            </div>
        </div>
    </div>
  </div>
</app-card-terminal>
